* {
    margin: 0;
    padding: 0;
}

body {
    background: #666;
}

.cabecalho {
    background: #3b89da;
}

#mudaLayout {
    display: none;
}

.container {
    padding: 0 10%;
}

.mural--linhas {
    flex-direction: column;
}

.mural--linhas .cartao {
    flex-basis: auto;
    width: auto;
    display: block;
}

.cartao {
    background: #ebef40;
    margin: 2em;
    padding: 1.5em;
}

.cartao--some {
    opacity: 0;
    transition: .2s ease-in;
}

.opcoesDoCartao-remove {
    cursor: pointer;
}

@media(min-width:560px) {

    #mudaLayout {
        display: inline-block;
    }

    .cartao {
        display: inline-block;
        width: 190px;
        flex-grow: 1;
        flex-basis: 190px;
        box-sizing: border-box;
    }
    
    .mural {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }
}